extends ../layout
block content
	.container
		.row
			form.form-horizontal(method="post",action="/admin/movie/new")
				.form-group
					label.col-sm-3.control-label(for="inputTitle") Name
					.col-sm-10
						input#inputTitle.form-control(type="text", name="movie[title]")
				.form-group
					label.col-sm-3.control-label(for="inputTitle") Director
					.col-sm-10
						input#inputTitle.form-control(type="text", name="movie[director]")
				.form-group
					label.col-sm-3.control-label(for="inputTitle") Country
					.col-sm-10
						input#inputTitle.form-control(type="text", name="movie[country]")
				.form-group
					label.col-sm-3.control-label(for="inputTitle") Language
					.col-sm-10
						input#inputTitle.form-control(type="text", name="movie[language]")
				.form-group
					label.col-sm-3.control-label(for="inputTitle") Date
					.col-sm-10
						input#inputTitle.form-control(type="text", name="movie[year]")
				.form-group
					label.col-sm-3.control-label(for="inputTitle") Description
					.col-sm-10
						input#inputTitle.form-control(type="text", name="movie[summary]")
				.form-group
					.col-sm-offset-2.col-sm-10
						button.btn.btn-default(type="submit") Submit
						

